.download-container {
  text-align: center;
  padding: 1rem;
  background: #1f1a3b;
}

.download-container h1 {
  margin: 0;
  color: #c084fc;
}

/* thiết kế nút download */
.download-btn {
  display: block;
  margin: 1rem auto;
  background: #a855f7;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  width: fit-content;
}


.title {
  font-family: "Playfair Display", serif;
  color: teal;
}

h2 {
  color: teal;
  border-bottom: 1px solid teal;
  padding-bottom: 0.3rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

table,
th,
td {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: justify;
}

th {
  text-align: center;
}

footer {
  font-size: 0.9rem;
  color: #bbb;
}